doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/media.css")
		meta(charset="utf-8")

	body
		.email-container
			.email-header
				.email-center
					.email-header-top
						.wrapper-header
							.email-logo
								a(href="http://first-booking.ru")
									img(src="img/logo-min.png", alt="Logo")
							.email-logo-archer
								a(href="http://first-booking.ru")
									img(src="img/archer-min.png", alt="Logo")
							.email-block-pnoneSocial
								.email-phone-wrap
									a(href="tel: +7(499)500-92-00") +7(499)500-92-00
								.email-social-wrap
									a(href="https://vk.com/firstbooking")
										img(src="img/social/vk-min.png", alt="Alt")
									a(href="https://www.facebook.com/FirstBookingCompany")
										img(src="img/social/tw-min.png", alt="Alt")
									a(href="https://twitter.com/first_booking")
										img(src="img/social/fb-min.png", alt="Alt")
									a(href="https://www.instagram.com/first_concert")
										img(src="img/social/in-min.png", alt="Alt")

					.email-bar-wrap
						ul
							li
								a(href='http://first-booking.ru/about-us') О нас
							li
								a(href='http://first-booking.ru/artists') Артисты
							li
								a(href='http://first-booking.ru/booking') Букинг
							li
								a(href='http://first-booking.ru/blog') Блог
							li
								a(href='http://first-booking.ru/contacts') Контакты
					


			.email-content
				.email-center
					.email-content-text
						h1.h1-text РОМАН BESTSELLER
						p
							br
							span.p-text Новый хит «Тай» (ft. Артем Пивоваров)
							br
							span.p-text Успей забронировать свободную дату!

						.email-tizer-item
							img(src="img/thumbnail_roman-min.jpg", alt="Alt")
							p
								|· Саунд-продюсер, популярный исполнитель, автор и композитор Роман Bestseller пишет слова и музыку популярным исполнителям российского шоу-бизнеса, а также радио и телевидения.
								br
								|· Хиты: “Тай” при участии Артема Пивоварова, «Последний раз», «Злой» (ОST «Это любовь»), «До луны» Jah Halib feat. Роман Bestseller, «Весь мир», «Микки», «Не паникуй», «Звезды», «MODNO» и многие другие хиты.
								br
								|· На счету Романа Bestseller'а продакшн двух альбомов Ивана Дорна, хиты группы «Artik&Asti», певицы Анны Седоковой, певицы Джамалы, рэпера Сереги, T-killah, Kristina Si, Natan, Лигалайз, ST, IKA, Светланы Лободы, Дмитрия Климашенко, Джигана, Ольги Бузовой и многих других.
								br
								|· Под песню «Трава у дома» в аранжировке Романа Bestseller Владимир Вдовиченков и Павел Деревянко спасают мир от катастрофы в новом фильме Клима Шипенко «Салют-7», который выйдет в прокат осенью 2017.
								br
								|· Rework сингла «Closer» в исполнении Паулины Андреевой OST «Притяжение» Федора Бондарчука.
								br
								|· Саунд-продюсер альбома Co’n’dorn Ивана Дорна.
								br
								|· Автор альбома MODNO. Треки альбома звучали в сериалах «Большие чувства», «Кухня», «Измены» и в скетч-шоу «Даешь молодежь!».
								br
								|· Трек «Последний раз» прочно занял первое место в чарте Shazam russian, набрав 50 тысяч shazam’ов всего за сутки, а видеоклип на эту песню обрел поддержку центральных телеканалов и собрал самые теплые отзывы критиков всевозможных порталов и изданий.


					.email-content-video
						h1.h1-text Клипы
						.email-video-item-main
							a(href='https://www.youtube.com/channel/UC28rVSFpVA4iSYRJaJvG37w') Роман Bestseller - Тай (ft. Артём Пивоваров)
							p
								a(href='https://www.youtube.com/channel/UC28rVSFpVA4iSYRJaJvG37w')
									img.video-item(src="img/videoRoman-min.jpg", alt="Alt")
						.email-video-item-left
							a(href='https://www.youtube.com/watch?v=CNwbk1twwb0')  Роман Bestseller - Последний раз
							p
								a(href='https://www.youtube.com/watch?v=CNwbk1twwb0')
									img.video-item(src="img/videoLastOne-min.jpg", alt="Alt")
						.email-video-item-right
							a(href='https://www.youtube.com/watch?v=Gl4_sg3qoh0') Роман Bestseller - Весь мир
							p
								a(href='https://www.youtube.com/watch?v=Gl4_sg3qoh0')
									img.video-item(src="img/videoWorld-min.jpg", alt="Alt")

			.email-booking
				.email-center
					h1.h1-text Букинг Артистов
					.email-booking-item
						p
							a(href='http://first-booking.ru/artik-asti/')
								img.image-booking(src="img/thumbnailArticAndAsti-min.jpg", alt="Alt")
						a(href='http://first-booking.ru/artik-asti/') Artik & Asti
					.email-booking-item
						p
							a(href='http://first-booking.ru/artik-asti')
								img.image-booking(src="img/thumbnailIKA-min.jpg", alt="Alt")
						a(href='http://first-booking.ru/artik-asti') IKA
					.email-booking-item
						p
							a(href='http://first-booking.ru/olga-buzova/')
								img.image-booking(src="img/thumbnailOlga-min.jpg", alt="Alt")
						a(href='http://first-booking.ru/olga-buzova/') Ольга Бузова


			.email-footer
				.email-center
					p
						| © 2017 First-Booking. Все права защищены.
					p
						| Вы получили это письмо, потому что оформили подписку на сайте
						a(href='http://first-booking.ru') First-Booking.ru.
					p
						| Если вы хотите отказаться от подписки, то перейдите по
						a(href='{{UnsubscribeUrl}}') этой ссылке.






